/* ベースのスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* セクションスタイル */
section {
    max-width: 1200px;
    margin-left: 27%; /* メニューの幅+余白を設定 */
    margin-right: 1%;
}

/* タイトルスタイル */
h2 {
    font-size: 24px;
    background-color: #bbbbbb; /* 背景色を設定 */

    padding: 10px 20px; /* タイトルの周りに余白を追加 */

}
.new {
	text-align: right;
}

/* フォーム全体を囲むスタイル */
#filter {
    border: 2px solid #DDDDDD; /* 境界線のスタイルと色を指定 */
    padding: 20px; /* 内側の余白を追加 */
    margin-bottom: 20px; /* 下に余白を追加 */
    border-radius: 10px; /* 角を丸くする（オプション） */
    background-color: #f9f9f9; /* 背景色を追加（オプション） */
    display: flex; /* フレックスコンテナにする */
    align-items: center; /* 要素を中央に揃える */
    justify-content: space-between; /* 要素を均等に配置する */
}

/* フォームグループのスタイル */
.form-group {
    display: flex;
    flex-direction: column; /* ラベルとセレクトボックスを縦に配置 */
    margin-right: 20px; /* 右に余白を追加 */
}

/* 各ラベルとセレクトボックス/チェックボックスのスタイル */
.form-group label {
    margin-bottom: 5px; /* ラベルと入力要素の間に余白を追加 */
}

#filter div {
    display: flex;
    flex-direction: column; /* ラベルと入力要素を縦に配置 */
    margin-right: 20px; /* 各要素の間に余白を追加 */
}

/* ボタンのスタイル */
#filter-button {
    padding: 10px 20px; /* ボタンのパディングを設定 */
    background-color: #007BFF; /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    border: none; /* ボタンの境界線をなくす */
    border-radius: 5px; /* ボタンの角を丸くする */
    cursor: pointer; /* ホバー時のカーソルをポインターにする */
}

#filter-button:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

#student-f1-select, #student-f2-select {
    width: 250px; /* セレクトボックスの幅を指定 */
    height: 35px;
    border-radius: 5px; /* 角を丸くする */
    border: 1px solid #ccc; /* 境界線のスタイル */

}

table {
    width: 95%;
    border-collapse: collapse; /* ボーダーの隙間をなくす */
    border-top: none; /* テーブル全体の上側のボーダーを削除 */
}

table th, table td {
    border-top: 1px solid #ddd; /* 上側のセル境界線 */
    border-bottom: 1px solid #ddd; /* 下側のセル境界線 */
    padding: 12px; /* セルの内側余白を広くする */
    text-align: left; /* テキストの左揃え */
}

table th {
    font-weight: bold; /* ヘッダーのテキストを太字に */
    border-top: none; /* ヘッダーセルの上側のボーダーを削除 */
}

table th:nth-child(3), table td:nth-child(3) {
    width: 250px;
}

/* クラス列の横幅を狭くする */
table th:nth-child(4), table td:nth-child(4) {
    width: 100px;
}
.center {
    text-align: center;
}
